.MainMenu {
  position: fixed;
  width: calc(100% - 150px);
  background: linear-gradient(180deg, rgba(66, 69, 82, .75) 0%, rgba(67, 71, 84, .75) 100%);
  top: 75px;
  left: 75px;
  padding: 40px;
  color: rgba(255, 255, 255, .8);
  z-index: 99;
  transform: translateY(-100%);
  transition: transform 300ms ease-in;
  display: flex;
  font-family: 'Poppins-regular', sans-serif;
  font-size: 13px;
}

.MainMenu > * {
  min-width: 200px;
  border-right: 1px dotted rgba(255, 255, 255, 1);
  padding: 0 calc(60 / 1650 * 100%);
}

.MainMenu > *:last-child {
  border-right: none;
}

.open {
  transform: translateY(0);
}

@media (max-width: 467px) {
  .MainMenu {
    display: none;
  }
}