.list {
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-wrap: wrap;
    transition: max-height 200ms linear;
    padding-bottom: 1px;
}

.list.active {
    max-height: 500px;
}

.item {
    font-size: 14px;
    margin-right: -1px;
    margin-bottom: -1px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    transition: all 150ms ease-in-out;
}

.item.active {
    background-color: #3a54d6;
    color: #ffffff;
}